.section-1 {
    width: 1440px;
    height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: 400px;
}
.screen-1{
    width:auto;
    height:500px;
}
.arrow-screen-1{
    width: 150px;
height: 180px;
flex-shrink: 0;
}
.powered{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 61.802px; /* 154.506% */
}