*{
  margin: 0;
  padding: 0;
}
.page{
 background-image: url('./assets/landing.png');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: max-content;
 display: flex;
 flex-direction: column;
 align-items: center;
 --x: calc(var(--posX, 0) * 1px);
 --y: calc(var(--posY, 0) * 1px);
 --x: calc(var(--posX, 0) * 1px);
 --y: calc(var(--posY, 0) * 1px);
 background-image:
   linear-gradient(115deg, #09091D, #026FE4),
   radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), #812DE2, #232323),
   radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), #812DE2, #232323),
   radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), #026FE4, #09091D),
   radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), #812DE2, #232323),
   linear-gradient(100deg,#812DE2, #09091D );
 background-blend-mode: overlay, overlay, difference, difference, difference, normal;
}



 

@media (max-width: 800px) {
  .page{
    background-size:200%;
  }
}